<div class="dashboard">
  <div class="navbar-container">
    <div class="navbar" [ngClass]="{fade: isScrolled()}">
      <div class="logo">Tradition<span>Rewired</span></div>
      <div class="study-btn" (click)="scrollToStudy()">
        Vai allo studio
      </div>
    </div>
  </div>

  <app-header></app-header>

  <app-info></app-info>
  
  

  <app-questions></app-questions>
  
  <div class="footer-section">
    <div class="left-side">
      <div class="logo">Tradition<span>Rewired</span></div>
      <div class="sub-logo">Informatica Umanistica - Università di Bologna</div>
      <div class="author">Emanuele Di Giacomo - 0001032110</div>
    </div>

    <div class="right-side">
      <div class="go-back" (click)="scrollToTop()">Torna in cima</div>
    </div>
  </div>
</div>